[Desktop Entry]
Name=iSpin
Comment=Graphical user interface to Spin
Comment[pl]=Graficzny interfejs użytkownika do Spina
Exec=ispin
Terminal=false
Type=Application
Categories=Education;Science;Math;
# vi: encoding=utf-8
